<!DOCTYPE html>
 <h1>Tashamasha The Majestic Picallo</h1> 
 <style id="gl-layout-0">
.gl-1 > :nth-child(3n+1) { width: 33.33%; }
.gl-1 > :nth-child(3n+2) { width: 33.33%; }
.gl-1 > :nth-child(3n+3) { width: 33.34%; }
@media (max-width: 768px) {
  .gl-1 > :nth-child(3n+1) { width: 33.33%; }
  .gl-1 > :nth-child(3n+2) { width: 33.33%; }
  .gl-1 > :nth-child(3n+3) { width: 33.34%; }
}
@media (max-width: 480px) {
  .gl-1 > :nth-child(3n+1) { width: 100%; }
  .gl-1 > :nth-child(3n+2) { width: 100%; }
  .gl-1 > :nth-child(3n+3) { width: 100%; }
}
</style>
<body> The Tasha masha was a very smart picallo of french living in kenya. He was tough how to be a  docter while he living in Nirobi, Russia where he learned most stuff</body>